<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	   		http://www.springframework.org/schema/beans     
	        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	        http://www.springframework.org/schema/context
	        http://www.springframework.org/schema/context/spring-context-4.0.xsd
	        http://www.springframework.org/schema/aop
	        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	        http://www.springframework.org/schema/tx
	        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	        	http://www.springframework.org/schema/util
	        http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<context:component-scan base-package="spring"></context:component-scan>

	<bean id="loggingAspect" class="spring.aop.LoggingAspect"></bean>


	<aop:config>
		<aop:pointcut id="calAdd"
			expression="execution(public int spring.aop.impl.ArithmeticCalculatorImpl.add(int , int))" />

		<aop:pointcut id="calSub"
			expression="execution(public int spring.aop.impl.ArithmeticCalculatorImpl.sub(int , int))" />

		<aop:pointcut id="calDiv"
			expression="execution(public int spring.aop.impl.ArithmeticCalculatorImpl.div(int , int))" />

		<aop:pointcut id="calMul"
			expression="execution(public int spring.aop.impl.ArithmeticCalculatorImpl.mul(int , int))" />

		<aop:aspect ref="loggingAspect">
			<aop:before pointcut-ref="calAdd" method="beforeMethod" />
		</aop:aspect>

		<aop:aspect ref="loggingAspect">
			<aop:after pointcut-ref="calSub" method="afterMethod" />
		</aop:aspect>

		<aop:aspect ref="loggingAspect">
			<aop:after-throwing pointcut-ref="calDiv" method="afterThrowing" />
		</aop:aspect>

		<aop:aspect ref="loggingAspect">
			<aop:after pointcut-ref="calDiv" method="afterFinally" />
		</aop:aspect>

		<aop:aspect ref="loggingAspect">
			<aop:around pointcut-ref="calMul" method="around" />
		</aop:aspect>

	</aop:config>

</beans>